*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --matcha-green: rgb(168, 187, 163);
    --milo-brown-primary: rgb(184, 124, 76);
    --milo-brown-secondary: rgb(196, 164, 132);
    --fries-yellow: rgb(247, 241, 222);
    --dark-choco: #4C230A;
    --darker-choco: #280004;
}

body {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 3rem;
    min-height: 100vh;
    background-color: var(--fries-yellow);
}

section.left {
    width: 33%;
}

section.right {
    width: 67%;
}

section.left,
section.right {
    background-color: var(--dark-choco);
    padding: 3rem;
    /* width: 50%; */
    border-radius: 2rem;
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

button {
    background-color: var(--matcha-green);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0.25rem;
}

button:hover {
    background-color: white;
    color: var(--matcha-green);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.title {
    margin-bottom: 2rem;
    text-decoration: underline;
    font-size: 2.15rem;
    color: var(--fries-yellow)
}

h2 {
    font-size: 1.75rem;
}

/* LEFT */
section.left {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

div.menu {
    width: 100%;
}

div.menu h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    place-items: center;
}

.main-title {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--fries-yellow);
    gap: 0.5rem;
    display: flex;
}

span.cross {
    text-decoration: line-through;
    color: var(--matcha-green);
}

span.change {
    color: var(--milo-brown-primary);
}

span.price {
    color: var(--milo-brown-secondary);
}

.counter {
    background-color: var(--milo-brown-secondary);
    border-radius: 10px;
    height: 75px;
    width: 100%;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.increase-btn,
.decrease-btn {
    width: 50px;
    height: 50px;
    font-size: 2rem;
}

div.sold h2 {
    margin: 0.1rem 0;
}

div.sold {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    place-items: center;
    gap: 20px;
    margin-bottom: 1rem;
}

div.in-counter {
    font-size: 2rem;
    font-weight: bold;
    min-width: 100px;
    text-align: center;
}

.income {
    display: none;
}

/* RIGHT */
section.right {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.current-counter-div {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    font-size: 5rem;
    margin: 1rem auto 0 auto;
    color: var(--matcha-green);
    font-weight: bold;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.image-carousel {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    margin: 0 auto;
    justify-content: center;
}

.carousel-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.qr-btn {
    width: 120px;
    height: 60px;
    font-size: 2rem;
    margin: 1rem auto;
}

@media screen and (max-height: 911px) {
    .carousel-image {
        max-width: 315px;
        max-height: 315px;
    }
}
